<ion-view title="'אודות מאגר הרואדה'">
	<ion-content has-header="true" has-tabs="true" padding="true" class="hebrew">
		<h1>אודות מאגר הרואדה</h1>

		<p>
			ברוכים הבאים למאגר הרואדה של צוות Salsa4Fun.
			רואדה היא ריקוד סלסה בצורה זוגית במעגל. בתוך הרואדה
			קיימים תרגילי סלסה מוגדרים אותם אנו מביאים בפניכם כאן.
		</p>

		<p>
			המאגר מכיל מעל 150 ווריאציות וצעדים, ונועד לכם ולנו
			בשביל ללמוד, להעשיר את הרפרטואר, והכי חשוב,
			לזכור את מה שכבר למדנו בעבר ואולי שכחנו...
		</p>

		<p>
			חלוקת הרמות במאגר היא סובייקטיבית, ונעשתה לפי שיקול
			דעת הכותבים והעורכים, בהתאם לרמת הקושי של
			הצעדים והווריאציות השונים. <br/>
			שימו לב, המידע במאגר נועד על מנת לרענן את זכרונם
			של מי שכבר מכירים את התרגילים, אך אינו יכול לשמש
			תחליף ללימוד והצגה פרונטלית של התרגילים.
		</p>

		<h2>
			קרדיטים
		</h2>
		<p>
			פיתוח האפליקציה - אורי שקד<br />
			כתיבת התרגילים - מיכאל צ'ה מורוזוב<br />
			בקרת איכות - אבי אמינוב<br />
			עריכה לשונית - עדי מוסקוביץ'<br />
		</p>

		<h2>יצירת קשר</h2>
		מצאתם טעות באחד התרגילים?<br />
		יש לכם הצעות לגרסה הבאה?<br />
		<a href="mailto:rueda@salsa4fun.co.il">צרו קשר</a>

	</ion-content>
</ion-view>
