<ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-default">

<ion-tab title="{{'tab_01' | translate}}" icon="icon ion-android-book" href="#/tab/rueda">
		<ion-nav-view name="rueda-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="{{'tab_02' | translate}}" icon="icon ion-information-circled" href="#/tab/clubs">
		<ion-nav-view name="clubs-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="{{'tab_03' | translate}}" icon="icon ion-ios7-film" href="#/tab/videos">
		<ion-nav-view name="videos-tab"></ion-nav-view>
	</ion-tab>
</ion-tabs>
