header h1 {
    direction: rtl;
}

.hebrew {
    direction: rtl;
}

.hebrew .item-complex .item-content {
    padding: 15px 15px 15px 40px;
}

.ionic-logo {
    display: block;
    margin: 15px auto;
    width: 96px;
    height: 96px;
}
